<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>顺庆区区委办督查督办管理系统</title>
		<link rel="stylesheet" href="../css/iview.css">
		<link rel="stylesheet" href="../css/load.css">
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
		<script src="../js/url.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/axiosConfig.js"></script>
		<script src="../js/iview.min.js"></script>

	</head>

	<body>
		<div id="app" style="margin:15px 10px 10px 10px;">
			<i-table border :columns="columns6" :data="data5" class='main-list'>
			</i-table>
			<Page :total="pageTotal" :current="pageNum" :page-size="pageSize" show-elevator show-sizer show-total placement="top" @on-change="handlePage" @on-page-size-change='handlePageSize'></Page>


			<div style="margin: 20px auto;width: 90%">
				<template v-if="type==1">
					<i-form>
						<Form-Item label="文件上传">
							<Upload
									ref="upload"
									:action="apiUrl.Upload"
									:show-upload-list="true"
									:on-success="infoSuccess"
									:max-size="81920"
									:on-format-error="handleFormatError"
									:on-exceeded-size="handleMaxSize"
									:on-remove="handleFileRemove"
									multiple
									name="files"
									:headers="header"
									type="drag"
									style="display: inline-block;width:auto;">
								<div style="padding: 0px 0;width:58px;">
									<p>上传附件</p>
								</div>
							</Upload>
						</Form-Item>
						<Form-Item>
							<i-button type="primary" icon="icon-plus" id="table" @click="fnsave" :disabled="!iscansave">保存提交</i-button>
						</Form-Item>
					</i-form>
				</template>
			</div>
			<Row style="background:#eee;padding:20px" >
				<Col span="11">
				<Card :bordered="false">
					<p slot="title">已上传文件</p>
					<span v-if="!filesList.length">暂无文件</span>
					<p v-for="item in fileList" :key="item.id">{{item.filename}} <span style="float: right;"><a :href="fileRoot+item.id">下载</a></span></p>
				</Card>
				</Col>
				<Col span="11" offset="2">
				<Card shadow>
					<p slot="title">已上传图片</p>
					<div style="position:relative;display: block;">
                        <span v-for="item in pictureList" :key="item.id" style="display: inline-block;width: 32%;padding: 1%;">

                            <img :src="root+item.id" alt="" style="width: 100%;margin: 0 auto"><br>
							{{item.filename}}<br/>
							<a :href="fileRoot+item.id">下载</a>
                        </span>
						<span v-if="!pictureList.length">暂无图片</span>


					</div>
				</Card>
				</Col>
			</Row>
		</div>
		<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
		<script>
			var type = request("type");
			var id = request('id');
			var header = {
				'Authorization': 'Bearer ' + localStorage.getItem("wccToken")
			};
			var myVue = new Vue({
				el: '#app',
				data: {
					qqq:type,
					pageTotal: 0,
					pageNum: 1,
					pageSize: 10,
					columns6: [],
					data5: [],
					departmentList: [],
					// 查询条件
					paramData: {
						beforeTime: '',
						afterTime: '',
						id: '',
						companyIds: [],
						limit: 10,
						page: 1
					},
					filesList:[],
					photos:[],
					pictureList:[],
					fileList:[],
					root:apiUrl.RenderPicture+'/',
					fileRoot:apiUrl.Download+'/',
					type:type,
					iscansave:false,
					meet:{}
				},
				watch: {
					meet: function (newV,oldV) {
						this.getAssetList();
					}
				},
				mounted: function() {
					this.$nextTick(function () {
						this.checkitem();
						this.getinfoslist(this.paramData);
					});
				},
				methods: {
					//获取信息监督项目列表
					checkitem() {
						var vm = this;
						$.Apiaxios({
							url: apiUrl.ApiCheckItemList + '?itemclass=4',
							method: "GET",
							content: "获取数据中，请稍等...",
							success: function(ret) {
								vm.modelCheckItem = [];
								vm.columns6 = [

									{
										title: '上报时间',
										key: 'mtime',
										sortable: true
									},
									{
										title: '上报名称',
										key: 'mtile',
										sortable: true
									},
									{
										title: '部门单位',
										key: 'ctitle',
										sortable: true
									},

								]
								$(ret.data).each(function(index, item) {
									var tempitem = {};
									tempitem.title = item.itemdesc;
									tempitem.key = item.id;
									tempitem.sortable = true;
									vm.columns6.push(tempitem);
									vm.modelCheckItem.push(tempitem);
								});
								var optitem = {
									title: '操作',
									key: 'action',
									width: 150,
									align: 'center',
									render: (h, params) => {
										return h('div', [
											h('Button', {
												props: {
													type: 'primary',
													size: 'small'
												},
												style: {
													marginRight: '5px'
												},
												on: {
													click: () => {
														CheckDetail(params.row.mid, params.row.unitid,vm.qqq);
													}
												}
											}, '编辑'),
											h('Button', {
												props: {
													type: 'error',
													size: 'small',
												},
												on: {
													click: () => {
														// console.log(params.index)
														layer.confirm(
															'确认删除吗', {
																icon: 3,
																title: '提示'
															},
															function(index) {
																//yes
																//do something
																layer.close(index);
																$.Apiaxios({
																	url: apiUrl.Apiinfosdelete,
																	method: "POST",
																	data: {
																		unitid: vm.data5[params.index].unitid,
																		infosid: vm.data5[params.index].mid
																	},
																	content: "获取数据中，请稍等...",
																	success: function(ret) {
																		// console.log(ret)
																		if(ret.success == true) {
																			layer.msg(ret.message);
																			$('.main-list .ivu-table-row').eq(params.index).remove();
																		} else {
																			vm.$Message.warning(ret.message);
																		}
																	}
																})
															},
															function(index) {
																//no
																layer.close(index);
															}
														);
													}
												}
											}, '删除'),

										]);
									}
								};
								var optitem1 = {
									title: '操作',
									key: 'action',
									width: 150,
									align: 'center',
									render: (h, params) => {
										return h('div', [
											h('Button', {
												props: {
													type: 'primary',
													size: 'small'
												},
												style: {
													marginRight: '5px'
												},
												on: {
													click: () => {
														CheckDetail(params.row.mid, params.row.unitid,vm.qqq);
													}
												}
											}, '查看'),

										]);
									}
								};
								if (vm.qqq == "1") {
									vm.columns6.push(optitem);
								}else if (vm.qqq == "2") {
									vm.columns6.push(optitem1);
								}
							}
						});

					},

					//获取单位信息监督项目列表
					getinfoslist(paramData) {
						var vm = this;
						paramData.limit = vm.pageSize;
						paramData.id = id;
						paramData.page = vm.pageNum;
						$.Apiaxios({
							url: apiUrl.Apiinfoslist,
							method: "post",
							data: paramData,
							content: "查询数据中，请稍等...",
							success: function(ret) {
								var infolist = ret.data.records; //信息部门列表数据
								vm.pageTotal = ret.data.total;
								if(ret.success) {
									var infolist = ret.data.records; //信息部门列表数据
									vm.pageTotal = ret.data.total;
									var outputdata = [];
									$(infolist).each(function(index, item) {
										vm.meet=item;
										var mtile = item.title;
										var mtime = item.mtime;
										var mid = item.id;
										var mtime = mtime.substring(0, 10);
										$(item.companys).each(function(indexmx, itemmx) {
											itemmx.mtime = mtime;
											itemmx.mtile = mtile;
											itemmx.mid = mid;
											outputdata.push(itemmx);
										});
									});
									vm.data5 = outputdata;
									//                                  console.log(vm.data5)
								} else {
									vm.data5 = [];
									vm.$Message.warning(ret.message);
								}
							}
						});
					},
					handlePage(value) {
						this.pageNum = value;
						this.getinfoslist(this.paramData);
						this.pageNum = 1;
					},
					handlePageSize(value) {
						this.pageSize = value;
						this.getinfoslist(this.paramData);
					},

					getAssetList(){
						var	vm=this;
						var token = localStorage.getItem("wccToken");
						if (vm.meet.pictures!=""&&vm.meet.pictures!=undefined){
							axios({
								url: apiUrl.getFilesByIds+vm.meet.pictures,
								method: "GET",
								headers: {
									"Authorization": "Bearer " + token
								},

							}).then(function(ret) {
								if (ret.data.success){
									vm.pictureList = ret.data.data;
								}
							});
						}
						if (vm.meet.files!=""&&vm.meet.files!=undefined) {
							axios({
								url: apiUrl.getFilesByIds + vm.meet.files,
								method: "GET",
								headers: {
									"Authorization": "Bearer " + token
								},
							}).then(function (ret) {
								if (ret.data.success) {
									vm.fileList = ret.data.data;
								}
							});
						}
					},
					// 区委信息提交
					fnsave() {
						var vm = this;
						if (!this.iscansave||(vm.photos.length <= 0&&vm.filesList.length <= 0)){
							alert("请选择上传文件");
							return false;
						}
						var token = localStorage.getItem("wccToken"); //获取
						var inputform={};
						inputform.id=vm.meet.id;
						if (vm.photos.length>0){
							inputform.pictures=vm.photos.join(",");
						}
						if (vm.filesList.length>0){
							inputform.files=vm.filesList.join(",");
						}
						// console.log(vm.inputform);
						// return  false;
						axios({
							url: apiUrl.ApiinfosEdit,
							method: "POST",
							headers: {
								"Authorization": "Bearer " + token
							},
							data:inputform,
						}).then(function(ret) {
							if(ret.data.success) {
								alert('保存提交成功！');
								html_cancel();
							} else{
								vm.$Message.warning(ret.data.message);
							}})
						return;
					},


					// 文件上传

					handleFileRemove(file) {
						// const fileList = this.$refs.upload.fileList;
						// this.$refs.upload.fileList.splice(fileList.indexOf(file), 1);
						if (file.type == 'photo') {
							// this.uploadphotoList.splice(this.uploadphotoList.indexOf(file), 1);
							this.photos.splice(this.photos.indexOf(file.id), 1);
						} else if (file.type == 'file') {
							// this.uploadfileList.splice(this.uploadfileList.indexOf(file), 1);
							this.filesList.splice(this.filesList.indexOf(file.id), 1);
						}
					},
					infoSuccess(res, file, fileList) {
						var fl = fileList[fileList.indexOf(file)];
						if (fl.response.data.files.length > 0) {
							if (this.filesList.indexOf(fl.response.data.files[0]) == -1) {
								fl.id = fl.response.data.files[0];
								fl.type = 'file';
								// this.uploadfileList.push(fl);
								this.filesList.push(fl.id);
								this.iscansave=true;
							}
						}
						if (fl.response.data.photos.length > 0) {
							if (this.photos.indexOf(fl.response.data.photos[0]) == -1) {
								fl.id = fl.response.data.photos[0];
								fl.url = apiUrl.RenderPicture + '/' + fl.response.data.photos[0];
								fl.type = 'photo';
								// this.uploadphotoList.push(fl);
								this.photos.push(fl.id);
								this.iscansave=true;
							}
						}
					},
					handleFormatError(file) {
						this.$Notice.warning({
							title: '文件上传出错',
							desc: '请选择正确的文件格式或正确的文件大小！'
						});
					},
					handleMaxSize(file) {
						this.$Notice.warning({
							title: '文件过大',
							desc: +file.name + ' 文件大小超过8M'
						});
					}



				}
			});

			function CheckDetail(id, unitid,type) {
				layerindex = layer.open({
					type: 2,
					title: "编辑",
					maxmin: true,
					area: ['900px', '400px'], //弹出层页面比例
					content: "bianji.html?id=" + id + "&unitid=" + unitid +"&type="+type
				});
			}
		</script>
	</body>

</html>