<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>顺庆区区委办督查督办管理系统</title>
		<link rel="stylesheet" href="../css/iview.css">
		<link rel="stylesheet" href="../css/load.css">
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
		<script src="../js/url.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/axiosConfig.js"></script>
		<script src="../js/iview.min.js"></script>

	</head>
	<body>
		<div id="app" style="margin:15px 10px 10px 10px;">
			<i-table border :columns="columns6" :data="data5" class='main-list'>
			</i-table>
			<Page :total="pageTotal" :current="pageNum" :page-size="pageSize" show-elevator show-sizer show-total placement="top" @on-change="handlePage" @on-page-size-change='handlePageSize'></Page>
				<div style="margin: 20px auto;width: 90%">
					<template v-if="type==1">
						<i-form>
							<Form-Item label="上报时间">
								<Row>
									<i-col span="8">
										<Date-Picker v-model="inputform.mtime" clearable="false" format="yyyy-MM-dd" type="date" placeholder="请选择信息上报时间" :options="startTimeOptions" @on-change="endTimeChange"></Date-Picker>
									</i-col>
									<i-col span="16">
										<Form-Item label="信息名称">
											<i-input v-model="inputform.title" value='0' placeholder="请输入区委信息名称" style="width:80%;"></i-input>
										</Form-Item>
									</i-col>
								</Row>
							</Form-Item>
							<Form-Item label="增加上报部门">
								<Row>
									<i-col span="16" style="padding-right:10px;">
										<i-select label-in-value="true" filterable multiple @on-change="choosedata">
											<i-option v-for="item in departmentList" :value="item.value" :key="item.value" v-if="companyidsvar.indexOf(item.value)==-1">{{ item.label }}</i-option>
										</i-select>
									</i-col>
								</Row>
							</Form-Item>
							<Form-Item label="">
								<template v-if="ishidden==true">
									<Row>
										<i-col span="24">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabas">
												<thead>
													<tr>
														<td>已选部门</td>
														<td v-for='(item,index) in modelCheckItem' style="line-height:18px;width: 110px;">{{ item.title }}</td>
													</tr>
												</thead>
												<tbody id="mytbodychoosedept">
													<tr v-for='(item,index) in chooseDeptList'>
														<td>{{ item.label }}</td>
														<td v-for='(itemmx,index) in modelCheckItem'>						
															<input v-if="itemmx.key == '21'" readonly="true" :id="'myinput_' + item.value +'_'+itemmx.key" value="0" style="width:90%;height:25px;text-align:center;" onchange="fn_setvalue(this)" type="text" />
															<input v-else :id="'myinput_' + item.value +'_'+itemmx.key" value="0" style="width:90%;height:25px;text-align:center;" onchange="fn_setvalue(this)" type="text" />
														</td>
														<td>
															<Form-Item>
																<Upload ref="uploadFile+'-'+item.value" :action="apiUrl.Upload" :show-upload-list="true" :on-success="infoAttrSuccess" :max-size="81920" :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize" :on-remove="handleUnitFileRemove" multiple name="files" :headers="header" type="drag" style="display: inline-block;width:auto;">
																	<div style="padding: 0px 0;width:58px;">
																		<p @click="setInfoUnitAttr(item.value)">上传附件</p>
																	</div>
																</Upload>
															</Form-Item>
														</td>
													</tr>
												</tbody>
											</table>
										</i-col>
									</Row>
								</template>
							</Form-Item>								            
							<Form-Item label="文件上传">
								<Upload ref="upload" :action="apiUrl.Upload" :show-upload-list="true" :on-success="infoSuccess" :max-size="81920" :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize" :on-remove="handleFileRemove" multiple name="files" :headers="header" type="drag" style="display: inline-block;width:auto;">
									<div style="padding: 0px 0;width:58px;">
										<p>上传附件</p>
									</div>
								</Upload>
							</Form-Item>
							<Form-Item label="信息备注">
				                <i-input v-model="inputform.memo" type="textarea" :autosize="{minRows: 2,maxRows: 5}"placeholder="请填写信息备注"></i-input>
				            </Form-Item>
							<Form-Item>
								<i-button type="primary" icon="icon-plus" id="table" @click="fnsave" :disabled="!iscansave">保存提交</i-button>
							</Form-Item>
						</i-form>
					</template>
				</div>
			<Row style="background:#eee;padding:20px" >
				<Col span="11">
				<Card :bordered="false">
					<p slot="title">已上传文件</p>
					<span v-if="!filesList.length">暂无文件</span>
					<p v-for="item in fileList" :key="item.id">{{item.filename}} <span style="float: right;"><a :href="fileRoot+item.id">下载</a></span></p>
				</Card>
				</Col>
				<Col span="11" offset="2">
				<Card shadow>
					<p slot="title">已上传图片</p>
					<div style="position:relative;display: block;">
                        <span v-for="item in pictureList" :key="item.id" style="display: inline-block;width: 32%;padding: 1%;">

                            <img :src="root+item.id" alt="" style="width: 100%;margin: 0 auto"><br>
							{{item.filename}}<br/>
							<a :href="fileRoot+item.id">下载</a>
                        </span>
						<span v-if="!pictureList.length">暂无图片</span>


					</div>
				</Card>
				</Col>
			</Row>
		</div>
		<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
		<script>
			var type = request("type");
			var id = request('id');
			var header = {
				'Authorization': 'Bearer ' + localStorage.getItem("wccToken")
			};
			var myVue = new Vue({
				el: '#app',
				data: {
					startTimeOptions: {},
					inputform: {
		                mtime: '',
		                title: '',
		                memo: '',
		                pictures: [],
		                files:[]
		           },
		            chooseDeptList: [],
		            ishidden: false,
					qqq:type,
					pageTotal: 0,
					pageNum: 1,
					pageSize: 10,
					columns6: [],
					data5: [],
					departmentList: [],
					// 查询条件
					paramData: {
						beforeTime: '',
						afterTime: '',
						id: '',
						companyIds: [],
						limit: 10,
						page: 1
					},
					filesList:[],
					photos:[],
					pictureList:[],
					fileList:[],
					root:apiUrl.RenderPicture+'/',
					fileRoot:apiUrl.Download+'/',
					type:type,
					iscansave:true,
					meet:{},
					infoUnitAttrs: [],
					nowUnitid:0,
					formDynamic: [],
					companyidsvar: []
				},
				watch: {
					meet: function (newV,oldV) {
						this.getAssetList();
					}
				},
				mounted: function() {
					this.$nextTick(function () {
						this.checkitem();
						this.getinfoslist(this.paramData);
						var parmDate = new Date();
			            this.endtime = parmDate;
			            this.endTimeChange(parmDate);
			            this.unit();
					});
				},
				methods: {
					setInfoUnitAttr(unitid){
						var isexcent=true;
						for(var j = 0,len = this.infoUnitAttrs.length; j < len; j++){
							if (this.infoUnitAttrs[j].unitid===unitid) {
								isexcent=false;
								break;
							}
						}
						if (isexcent) {
							this.nowUnitid=unitid;
							this.infoUnitAttrs.push({
								files: [],
								pictures: [],
								unitid:this.nowUnitid
							});
							// console.log(this.infoUnitAttrs);
						}
					},
					//获取信息监督项目列表
					checkitem() {
						var vm = this;
						$.Apiaxios({
							url: apiUrl.ApiCheckItemList + '?itemclass=4',
							method: "GET",
							content: "获取数据中，请稍等...",
							success: function(ret) {
								vm.modelCheckItem = [];
								vm.columns6 = [

									{
										title: '上报时间',
										key: 'mtime',
										sortable: true
									},
									{
										title: '上报名称',
										key: 'mtile',
										sortable: true
									},
									{
										title: '部门单位',
										key: 'ctitle',
										sortable: true
									},

								]
								$(ret.data).each(function(index, item) {
									var tempitem = {};
									tempitem.title = item.itemdesc;
									tempitem.key = item.id;
									tempitem.sortable = true;
									vm.columns6.push(tempitem);
									vm.modelCheckItem.push(tempitem);
								});
								
								
						
								var optitem = {
									title: '操作',
									key: 'action',
									width: 150,
									align: 'center',
									render: (h, params) => {
										return h('div', [
											h('Button', {
												props: {
													type: 'primary',
													size: 'small'
												},
												style: {
													marginRight: '5px'
												},
												on: {
													click: () => {
														CheckDetail(params.row.mid, params.row.unitid,vm.qqq);
													}
												}
											}, '编辑'),
											h('Button', {
												props: {
													type: 'error',
													size: 'small',
												},
												on: {
													click: () => {
														// console.log(params.index)
														layer.confirm(
															'确认删除吗', {
																icon: 3,
																title: '提示'
															},
															function(index) {
																//yes
																//do something
																layer.close(index);
																$.Apiaxios({
																	url: apiUrl.Apiinfosdelete,
																	method: "POST",
																	data: {
																		unitid: vm.data5[params.index].unitid,
																		infosid: vm.data5[params.index].mid
																	},
																	content: "获取数据中，请稍等...",
																	success: function(ret) {
																		// console.log(ret)
																		if(ret.success == true) {
																			layer.msg(ret.message);
																			$('.main-list .ivu-table-row').eq(params.index).remove();
																		} else {
																			vm.$Message.warning(ret.message);
																		}
																	}
																})
															},
															function(index) {
																layer.close(index);
															}
														);
													}
												}
											}, '删除'),

										]);
									}
								};
								var optitem1 = {
									title: '操作',
									key: 'action',
									width: 150,
									align: 'center',
									render: (h, params) => {
										return h('div', [
											h('Button', {
												props: {
													type: 'primary',
													size: 'small'
												},
												style: {
													marginRight: '5px'
												},
												on: {
													click: () => {
														CheckDetail(params.row.mid, params.row.unitid,vm.qqq);
													}
												}
											}, '查看'),

										]);
									}
								};
								if (vm.qqq == "1") {
									vm.columns6.push(optitem);
								}else if (vm.qqq == "2") {
									vm.columns6.push(optitem1);
								}
							}
						});
					},
					endTimeChange: function (e) {
		                this.endtime = e;
		                let endTime = this.endtime ? new Date(this.endtime).valueOf() - 1 * 24 * 60 * 60 * 1000 : '';
		                this.startTimeOptions = {
		                    disabledDate(date) {
		                        return date && date.valueOf() > Date.now() && endTime != '';
		                    }
		                }
		            },
		            infoAttrSuccess(res, file, fileList) {
		                var fl = file;
		                if (fl.response.data.files.length > 0) {
		                    if (this.inputform.files.indexOf(fl.response.data.files[0]) == -1) {
		                        fl.id = fl.response.data.files[0];
		                        fl.type = 'file';
		                        // this.uploadfileList.push(fl);
		                        for(var j = 0,len = this.infoUnitAttrs.length; j < len; j++){
		                           if (this.infoUnitAttrs[j].unitid===this.nowUnitid) {
		                               fl.arrtindex=j;
		                               this.infoUnitAttrs[j].files.push(fl.id);
		                           }
		                        }
		
		                    }
		                }
		                if (fl.response.data.photos.length > 0) {
		                    if (this.inputform.pictures.indexOf(fl.response.data.photos[0]) == -1) {
		                        fl.id = fl.response.data.photos[0];
		                        fl.url = apiUrl.RenderPicture + '/' + fl.response.data.photos[0];
		                        fl.type = 'photo';
		                        for(var j = 0,len = this.infoUnitAttrs.length; j < len; j++){
		                        if (this.infoUnitAttrs[j].unitid===this.nowUnitid) {
		                            fl.arrtindex=j;
		                            this.infoUnitAttrs[j].pictures.push(fl.id);
		                        }
		                    }
		                    }
		                }
		                // console.log(this.infoUnitAttrs);
		            },
		            handleUnitFileRemove(file) {
		                if (file.type == 'photo') {
		                    // this.uploadphotoList.splice(this.uploadphotoList.indexOf(file), 1);
		                    this.infoUnitAttrs[file.arrtindex].pictures.splice(this.infoUnitAttrs[file.arrtindex].pictures.indexOf(file.id), 1);
		                } else if (file.type == 'file') {
		                    // this.uploadfileList.splice(this.uploadfileList.indexOf(file), 1);
		                    this.infoUnitAttrs[file.arrtindex].files.splice(this.infoUnitAttrs[file.arrtindex].files.indexOf(file.id), 1);
		                }
		            },
		            //获取责任单位列表
		            unit() {
		                var vm = this;
		                var token = localStorage.getItem("wccToken"); //获取
		                axios({
		                    url: apiUrl.ApiNuitList,
		                    method: "GET",
		                    headers: {
		                        "Authorization": "Bearer " + token
		                    },
		                    data: '',
		                }).then(function (ret) {
//		                    console.log("责任单位获取成功：" + JSON.stringify(ret.data));
		                    $(ret.data.data).each(function (index, item) {
		                        var tempitem = {};
		                        tempitem.label = item.title;
		                        tempitem.value = item.id;
		                        vm.departmentList.push(tempitem);
		                    });
		
		                });
		            },
					//获取单位信息监督项目列表
					getinfoslist(paramData) {
						var vm = this;
						paramData.limit = vm.pageSize;
						paramData.id = id;
						paramData.page = vm.pageNum;
						$.Apiaxios({
							url: apiUrl.Apiinfoslist,
							method: "post",
							data: paramData,
							content: "查询数据中，请稍等...",
							success: function(ret) {
								var infolist = ret.data.records; //信息部门列表数据
								vm.pageTotal = ret.data.total;
								if(ret.success) {
									var infolist = ret.data.records; //信息部门列表数据
									vm.pageTotal = ret.data.total;
									var outputdata = [];
									vm.companyidsvar  = [];
									$(infolist).each(function(index, item) {
										vm.meet=item;
										vm.inputform=item;
										vm.inputform.pictures=vm.inputform.pictures.split(',');
										vm.inputform.files=vm.inputform.files.split(',');
										var mtile = item.title;
										var mtime = item.mtime;
										var mid = item.id;
										var mtime = mtime.substring(0, 10);
										$(item.companys).each(function(indexmx, itemmx) {
											itemmx.mtime = mtime;
											itemmx.mtile = mtile;
											itemmx.mid = mid;
											vm.companyidsvar.push(itemmx.unitid);
											outputdata.push(itemmx);
										});
									});
									vm.data5 = outputdata;
									//                                  console.log(vm.data5)
								} else {
									vm.data5 = [];
									vm.$Message.warning(ret.message);
								}
							}
						});
					},
					handlePage(value) {
						this.pageNum = value;
						this.getinfoslist(this.paramData);
						this.pageNum = 1;
					},
					handlePageSize(value) {
						this.pageSize = value;
						this.getinfoslist(this.paramData);
					},
					getAssetList(){
						var	vm=this;
						var token = localStorage.getItem("wccToken");
						if (vm.meet.pictures!=""&&vm.meet.pictures!=undefined){
							axios({
								url: apiUrl.getFilesByIds+vm.meet.pictures,
								method: "GET",
								headers: {
									"Authorization": "Bearer " + token
								},

							}).then(function(ret) {
								if (ret.data.success){
									vm.pictureList = ret.data.data;
								}
							});
						}
						if (vm.meet.files!=""&&vm.meet.files!=undefined) {
							axios({
								url: apiUrl.getFilesByIds + vm.meet.files,
								method: "GET",
								headers: {
									"Authorization": "Bearer " + token
								},
							}).then(function (ret) {
								if (ret.data.success) {
									vm.fileList = ret.data.data;
								}
							});
						}
					},
					choosedata(option) {
		                //console.log(option);//
		                this.chooseDeptList = option;
		                if (this.ishidden == false) {
		                    this.ishidden = true;
		                }				
		            },
					// 区委信息提交
					fnsave() {

						var vm = this;
						var token = localStorage.getItem("wccToken"); //获取
						if (this.inputform.mtime == '') {
							vm.$Message.warning('请选择信息上报时间！');
							return false;
						}
						if (this.inputform.title == '') {
							vm.$Message.warning('请填写信息名称！');
							return true;
						}
						var choosedptarray = [];
						var ret = true;
						$("#mytbodychoosedept tr").each(function (index, obj) {
							var nnlength = 0;
							var zerolength = 0;

							$(obj).find("input[type='text']").each(function (mindex, mobj) {
								nnlength++;

								var ss_attrid = $(mobj).attr("id");
								//console.log(ss_attrid);
								var aa_attrid = ss_attrid != undefined ? ss_attrid.split('_') : '';
								var ss_unitid = aa_attrid[1];
								var ss_checkitemid = aa_attrid[2];
								var ss_checkvalue = $(mobj).val();
								//console.log(ss_checkvalue);

								try {

									if (isNaN(parseFloat(ss_checkvalue))) {
										ss_checkvalue = 0;
									} else {
										if (parseFloat(ss_checkvalue) <= 0) {
											ss_checkvalue = 0;
										} else {
											ss_checkvalue = parseFloat(ss_checkvalue);
											$(mobj).attr("value", ss_checkvalue);
										}
									}
								} catch (e) {
									ss_checkvalue = 0;
								}
								if (ss_checkvalue == 0) {
									zerolength++;
								}

								var tmpobj = {};
								tmpobj.unitid = ss_unitid;
								tmpobj.checkitemid = ss_checkitemid;
								tmpobj.checkvalue = ss_checkvalue;
								choosedptarray.push(tmpobj);
							});

							if (zerolength == nnlength) {
								ret = false;
							}
						});
						if (vm.photos.length>0){
							this.inputform.pictures=vm.photos.join(",");
						}else{
							this.inputform.pictures=this.inputform.pictures.join(",");
						}
						if (vm.filesList.length>0){
							this.inputform.files=vm.filesList.join(",");
						}else{
							this.inputform.files=this.inputform.files.join(",");
						}
						for(var j = 0,len = this.infoUnitAttrs.length; j < len; j++){
							this.infoUnitAttrs[j].pictures=this.infoUnitAttrs[j].pictures.join(",");
							this.infoUnitAttrs[j].files=this.infoUnitAttrs[j].files.join(",");
						}

						this.inputform.resc= choosedptarray;
						this.inputform.copyRecordNotices= vm.formDynamic;

						this.inputform.infoUnitAttrs=vm.infoUnitAttrs;
						// console.log(this.inputform);
						// return ;
						axios({
							url: apiUrl.ApiinfosEdit,
							method: "POST",
							headers: {
								"Authorization": "Bearer " + token
							},
							data:vm.inputform,
						}).then(function(ret) {
							if(ret.data.success) {
								alert('保存提交成功！');
								html_cancel();
							} else{
								vm.$Message.warning(ret.data.message);
							}})
						return;
					},
					// 文件上传
					handleFileRemove(file) {
						// const fileList = this.$refs.upload.fileList;
						// this.$refs.upload.fileList.splice(fileList.indexOf(file), 1);
						if (file.type == 'photo') {
							// this.uploadphotoList.splice(this.uploadphotoList.indexOf(file), 1);
							this.photos.splice(this.photos.indexOf(file.id), 1);
						} else if (file.type == 'file') {
							// this.uploadfileList.splice(this.uploadfileList.indexOf(file), 1);
							this.filesList.splice(this.filesList.indexOf(file.id), 1);
						}
					},
					infoSuccess(res, file, fileList) {
						var fl = fileList[fileList.indexOf(file)];
						if (fl.response.data.files.length > 0) {
							if (this.filesList.indexOf(fl.response.data.files[0]) == -1) {
								fl.id = fl.response.data.files[0];
								fl.type = 'file';
								// this.uploadfileList.push(fl);
								this.filesList.push(fl.id);
								this.iscansave=true;
							}
						}
						if (fl.response.data.photos.length > 0) {
							if (this.photos.indexOf(fl.response.data.photos[0]) == -1) {
								fl.id = fl.response.data.photos[0];
								fl.url = apiUrl.RenderPicture + '/' + fl.response.data.photos[0];
								fl.type = 'photo';
								// this.uploadphotoList.push(fl);
								this.photos.push(fl.id);
								this.iscansave=true;
							}
						}
					},
					handleFormatError(file) {
						this.$Notice.warning({
							title: '文件上传出错',
							desc: '请选择正确的文件格式或正确的文件大小！'
						});
					},
					handleMaxSize(file) {
						this.$Notice.warning({
							title: '文件过大',
							desc: +file.name + ' 文件大小超过8M'
						});
					}



				}
			});

			function CheckDetail(id, unitid,type) {
				layerindex = layer.open({
					type: 2,
					title: "编辑",
					maxmin: true,
					area: ['900px', '400px'], //弹出层页面比例
					content: "bianji.html?id=" + id + "&unitid=" + unitid +"&type="+type
				});
			}
			// 动态计算数目
			function fn_setvalue(mobj) {
				var ss_attrid = $(mobj).attr("id");
				var aa_attrid = ss_attrid != undefined ? ss_attrid.split('_') : '';
				var ss_unitid = aa_attrid[1];
				var ss_checkitemid = aa_attrid[2];
				//          if (ss_checkitemid == '18') {
				//              var ss_checkvalue = $(mobj).val();
				//              console.log(ss_checkvalue);
				//              var ss_newvalue = $("#myinput_" + ss_unitid + "_18").val();
				//              if (parseFloat(ss_newvalue) < parseFloat(ss_checkvalue)) {
				//                  $(mobj).val(ss_newvalue);
				//              }
				//          }

				if (ss_checkitemid == '19' || ss_checkitemid == '20') {
					var ss_newvalue18 = $("#myinput_" + ss_unitid + "_19").val();
					var ss_newvalue19 = $("#myinput_" + ss_unitid + "_20").val();
					if (ss_newvalue18 != "0" && ss_newvalue19 != "0") {
						if (parseFloat(ss_newvalue18) > 0) {
							var n_value = (parseFloat(ss_newvalue19) / parseFloat(ss_newvalue18)) * 100;
							n_value = Math.round(n_value);
							$("#myinput_" + ss_unitid + "_21").val(n_value);
						} else {
							$("#myinput_" + ss_unitid + "_21").val(0);
						}
					}

				}

				//console.log(mobj);
			}
		</script>
	</body>

</html>