<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>顺庆区区委办督查督办管理系统</title>
    <!-- 引入样式 -->

    <link rel="stylesheet" href="http://unpkg.com/iview/dist/styles/iview.css">
    <!--
    <link rel="stylesheet" href="css/iview.css">
        -->
    <!-- import Vue before Element -->
    <!--
    <script src="http://vuejs.org/js/vue.min.js"></script>
     -->
    <script src="../js/vue.min.js"></script>
    <!-- 引入组件库 -->
    <!--
    <script src="http://unpkg.com/iview/dist/iview.min.js"></script>
    -->
    <script src="../js/jquery.js"></script>
    <script src="../js/url.js"></script>
    <script src="../js/axios.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/axiosConfig.js"></script>
    <script src="../js/iview.min.js"></script>
    <script src="../js/rykjpub.js"></script>
    <style>
        .demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content {
            height: 120px;
            margin-top: -16px;
        }

            .demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
                background: #fff;
                padding: 16px;
            }

        .demo-tabs-style1 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
            border-color: transparent;
        }

        .demo-tabs-style1 > .ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
            border-color: #fff;
        }

        .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
            border-radius: 0;
            background: #fff;
        }

        .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
            border-top: 1px solid #3399ff;
        }

            .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active:before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #3399ff;
                position: absolute;
                top: 0;
                left: 0;
            }

        .ivu-auto-complete, ivu-select-dropdown {
            max-height: 80px;
        }

        .tabas tr td {
            padding: 6px;
        }
    </style>
</head>
<body>

    <div id="app" style="margin:15px 10px 10px 10px;">
        <Row>

            <i-col span="11">

                <Card style="font-size:12px;">
                    <p slot="title">交办事项基本信息</p>
                    <Row>
                        <i-col label="">
                            交办事项：{{detail.title}}
                        </i-col>
                        <i-col label="">
                            交办时间：{{detail.assigntime}}
                        </i-col>
                        <i-col label="">
                            督办要求：{{detail.assignmemo}}
                        </i-col>
                    </Row>
                </Card>
            </i-col>
            <i-col span="1">
            </i-col>
            <i-col span="12" v-if="">
                <div style="width: 100%;margin-left:10px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabas">
                        <thead>
                            <tr>
                                <td width="130px">责任单位</td>
                                <td width="120px">办理时限</td>
                                <td>反馈信息</td>
                            </tr>
                        </thead>
                        <tbody id="mytbodychoosedept">
                            <tr v-for='(item,index) in dataTaskAssignUnitList'>
                                <template v-if="item.status==1 && item.personid==pubuserid">
                                <td>
                                    {{ item.company.title }}
                                </td>
                                <td>
                                    <Date-Picker v-model="item.endtime" format="yyyy-MM-dd" type="date" placeholder="请选择办理时限" :options="startTimeOptions" style="width:120px;"></Date-Picker>
                                </td>
                                <td>
                                    <i-input v-model="item.requirements" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="请填写反馈信息"></i-input>
                                </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 100%;margin-left:10px;">

                    <Row>
                        <i-col span="24">
                            <i-button type="primary" icon="icon-plus" @click="fnsave">保存提交</i-button>
                        </i-col>
                    </Row>
                </div>
            </i-col>
        </Row>
    </div>

    <script>
        var paramid = this.request('id');
        //var taid = GetRequest()['taid'];
        //alert(paramid);

        var myVue = new Vue({
            el: '#app',
            data: {
                pubuserid: '',
                units: '',
                detail: {},
                ishidden: false,
                startTimeOptions: {},
                //结束日期设置
                endTimeOptions: {},
                //开始日期model
                starttime: '',
                dataTask: [],
                //结束日期model
                modelEndTimes: [],
                modelRequirements: [],
                dataTaskAssignUnitList: []
            },
            mounted: function () {
                this.$nextTick(function () {
                    var parmDate = new Date().Format("yyyy-MM-dd");
                    this.starttime = parmDate;
                    this.endTimeChange(parmDate);
                    this.getUserData();
                    this.details();
                });
            },
            methods: {
                //设置结束时间
                endTimeChange: function (e) {
                    //debugger
                    let endTime = this.starttime ? new Date(this.starttime).valueOf() - 1 * 24 * 60 * 60 * 1000 : '';
                    // this.startTimeOptions = {
                    //     disabledDate(date) {
                    //         return date && date.valueOf() < Date.now() && endTime != '';
                    //     }
                    // }
                },

                //得到用户基础信息
                getUserData() {
                    var vm = this;
                    var token = localStorage.getItem("wccToken"); //获取
                    axios({
                        url: apiUrl.User,
                        method: "GET",
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        data: ''
                    }).then(function (ret) {
                        if (ret.data.success) {
                            vm.pubuserid = ret.data.data.id;
                        }
                    });
                },

                //获取交办事项详情
                details() {
                    var vm = this;
                    var token = localStorage.getItem("wccToken"); //获取
                    axios({
                        method: "GET",
                        async: false,
                        url: apiUrl.ApiTaskassignDetail + "/" + paramid,
                        headers: { "Authorization": "Bearer " + token },
                        data: {
                            id: paramid
                        }
                    }).then(function (ret) {
                        if (ret.data.success) {
                            vm.detail.title = ret.data.data.task.title;


                            vm.detail.assigntime = ret.data.data.assigntime;

                            vm.detail.assignmemo = ret.data.data.assignmemo;
                            
                            //console.log(ret.data);

                                vm.dataTaskAssignUnitList = ret.data.data.taskassignUnits;
                        }
                        else {
                            vm.$Message.warning(ret.data.message);
                        }


                    });
                },

                fnsave() {
                    var vm = this;
                    var sendobjarr = [];
                    vm.dataTaskAssignUnitList.forEach(function (item, index) {
                        if (item.status ==1 && item.personid==vm.pubuserid){
                            if (item.endtime == '') {
                                vm.$Message.warning('请选择办理时限！');
                                return false;
                            }
                            if (item.requirements == '') {
                                vm.$Message.warning('请填写反馈信息！');
                                return false;
                            }

                            var sendobj = {};
                            sendobj.id = item.id;
                            sendobj.tassignid = item.tassignid;
                            sendobj.unitid = item.unitid;
                            // sendobj.personid = personid;
                            sendobj.endtime = item.endtime.Format("yyyy-MM-dd");
                            sendobj.requirements = item.requirements;
                            sendobj.status = 2;//状态（1-新建未反馈；2-已反馈限期办理中；3-已反馈超期办理中；4-办理完成；）
                            sendobjarr.push(sendobj);
                        }
                    });
                    if(sendobjarr.length<1){
                        return false;
                    }
                    var token = localStorage.getItem("wccToken"); //获取
                    axios({
                        url: apiUrl.ApiTaskassignUnitUpdate,
                        method: "post",
                        headers: { "Authorization": "Bearer " + token },
                        data: sendobjarr,
                    }).then(function (ret) {
                        // console.log(ret);
                        if (ret.data.success) {
                            alert('保存提交成功！');
                            html_cancel();
                        }
                        else {
                            vm.$Message.warning(ret.data.message);
                        }
                    });   
                }
            }
        });
    </script>
</body>
</html>

<script>
    function html_cancel() {
        parent.LoadTable();
    }


</script>
